<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TODOLIST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TODOLIST.Properties.Settings>
            <setting name="d1" serializeAs="String">
                <value />
            </setting>
            <setting name="d2" serializeAs="String">
                <value />
            </setting>
            <setting name="d3" serializeAs="String">
                <value />
            </setting>
            <setting name="d4" serializeAs="String">
                <value />
            </setting>
            <setting name="d5" serializeAs="String">
                <value />
            </setting>
            <setting name="d6" serializeAs="String">
                <value />
            </setting>
            <setting name="d7" serializeAs="String">
                <value />
            </setting>
            <setting name="d8" serializeAs="String">
                <value />
            </setting>
            <setting name="d9" serializeAs="String">
                <value />
            </setting>
            <setting name="d10" serializeAs="String">
                <value />
            </setting>
            <setting name="d11" serializeAs="String">
                <value />
            </setting>
            <setting name="d12" serializeAs="String">
                <value />
            </setting>
            <setting name="d13" serializeAs="String">
                <value />
            </setting>
            <setting name="d14" serializeAs="String">
                <value />
            </setting>
            <setting name="d15" serializeAs="String">
                <value />
            </setting>
            <setting name="d16" serializeAs="String">
                <value />
            </setting>
            <setting name="d17" serializeAs="String">
                <value />
            </setting>
            <setting name="d18" serializeAs="String">
                <value />
            </setting>
            <setting name="d19" serializeAs="String">
                <value />
            </setting>
            <setting name="d20" serializeAs="String">
                <value />
            </setting>
            <setting name="d21" serializeAs="String">
                <value />
            </setting>
            <setting name="d22" serializeAs="String">
                <value />
            </setting>
            <setting name="d23" serializeAs="String">
                <value />
            </setting>
            <setting name="d24" serializeAs="String">
                <value />
            </setting>
            <setting name="d25" serializeAs="String">
                <value />
            </setting>
            <setting name="d26" serializeAs="String">
                <value />
            </setting>
            <setting name="d27" serializeAs="String">
                <value />
            </setting>
            <setting name="d28" serializeAs="String">
                <value />
            </setting>
            <setting name="d29" serializeAs="String">
                <value />
            </setting>
            <setting name="d30" serializeAs="String">
                <value />
            </setting>
            <setting name="d31" serializeAs="String">
                <value />
            </setting>
        </TODOLIST.Properties.Settings>
    </userSettings>
</configuration>